/* Estilos de scrool */

$sizeScroll: 0.5rem;

* {
	scrollbar-width: thin;
}

*::-webkit-scrollbar {
	-webkit-appearance: none;
}

*::-webkit-scrollbar-button:increment,
*::-webkit-scrollbar-button {
	display: none;
}

*::-webkit-scrollbar:horizontal,
*::-webkit-scrollbar:vertical {
	width: $sizeScroll;
	height: $sizeScroll;
}

::-webkit-scrollbar {
	background-color: var(--second-bg);
}
::-webkit-scrollbar,
::-webkit-scrollbar-thumb {
	transition: background-color 0.5s;
}

::-webkit-scrollbar-thumb {
	border-radius: var(--bradius);
	background-color: var(--primary-500);
}

::-webkit-scrollbar-thumb:hover {
	background-color: var(--primary-700);
}
